<div class="container" style="padding-top:10px; padding-bottom:10px;">
        
            <form [formGroup]="addForm" (ngSubmit)="addGynecologicalObstetricsBackground()"  class="col-12" method="post">
        
                <h1>Registrar Antecedentes Gineco-Obstétricos</h1>
        
                <div class='row'>
                    <div class='col-12'>
                    </div>
                </div>
                        
                <!--Abuso de Sustancias-->
                <div class="row form-group">
                    <div class="input-field col-6 left-align">
                        <h4 class="text-info" for="menarca">Menarca (años)</h4>
                        <input type="number" class="validate text-info form-control" name="menarca" id="menarca" formControlName="menarca" min="0">
                    </div>
                            
                    <div class="input-field col-6 left-align">
                        <h4 class="text-info" for="fum">FUM</h4>
                        <input type="text" class="validate text-info form-control" name="fum" id="fum" formControlName="fum">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="input-field col-6 left-align">
                        <h4 class="text-info" for="masculino">Masculino</h4>
                        <input type="text" class="validate text-info form-control" name="masculino" id="masculino" formControlName="masculino">
                    </div>
                            
                    <div class="input-field col-6 left-align">
                        <h4 class="text-info" for="ritmo">Ritmo</h4>
                        <select class="custom-select col-md-4" name='ritmo' id='ritmo' formControlName="ritmo">
                            <option default value="Regular">Regular</option>
                            <option value="Irregular">Irregular</option>
                            <option default value="Histerectomía/Menopausia">Histerectomía/Menopausia</option>
                            <option value="No aplicable">No aplicable</option>              
                        </select>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="input-field col-6 left-align">
                        <h4 class="text-info" for="tension_premenstrual">Tensión premenstrual</h4>
                        <input type="text" class="validate text-info form-control" name="tension_premenstrual" id="tension_premenstrual" formControlName="tension_premenstrual">
                    </div>
                            
                    <div class="input-field col-6 left-align">
                        <h4 class="text-info" for="vida_sexual_activa">Edad de inicio de vida sexual activa</h4>
                        <input type="number" class="validate text-info form-control" name="vida_sexual_activa" id="vida_sexual_activa" formControlName="vida_sexual_activa" min="0">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="input-field col-6 left-align">
                        <h4 class="text-info" for="num_companeros_sexuales">No. de compañeros sexuales de vida</h4>
                        <input type="number" class="validate text-info form-control" name="num_companeros_sexuales" id="num_companeros_sexuales" formControlName="num_companeros_sexuales" min="0">
                    </div>
                            
                    <div class="input-field col-6 left-align">
                        <h4 class="text-info" for="actuales">No. de compañeros sexuales de vida actuales</h4>
                        <input type="number" class="validate text-info form-control" name="actuales" id="actuales" formControlName="actuales" min="0">
                    </div>
                </div>
                <h4>Antecedentes obstétricos</h4>
                <div class="row form-group">
                    <div class="input-field col-6 left-align">
                        <h4 class="text-info" for="gesta">Gesta</h4>
                        <input type="text" class="validate text-info form-control" name="gesta" id="gesta" formControlName="gesta">
                    </div>
                            
                    <div class="input-field col-6 left-align">
                        <h4 class="text-info" for="para">Parto natural</h4>
                        <input type="text" class="validate text-info form-control" name="para" id="para" formControlName="para" min="0">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="input-field col-6 left-align">
                        <h4 class="text-info" for="cesareas">Cesáreas</h4>
                        <input type="number" class="validate text-info form-control" name="cesareas" id="cesareas" formControlName="cesareas" min="0">
                    </div>
                            
                    <div class="input-field col-6 left-align">
                        <h4 class="text-info" for="abortos">Abortos</h4>
                        <input type="number" class="validate text-info form-control" name="abortos" id="abortos" formControlName="abortos" min="0">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="input-field col-6 left-align">
                        <h4 class="text-info" for="embarazo_actual">¿Embarazo actual?</h4>
                        <select class="custom-select col-md-4" name='embarazo_actual' id='embarazo_actual' formControlName="embarazo_actual">
                            <option default value="Si">Si</option>
                            <option value="No">No</option>
                            <option default value="Incierto">Incierto</option>            
                        </select>
                    </div>
                            
                    <div class="input-field col-6 left-align">
                        <h4 class="text-info" for="semanas_embarazo">Semanas de embarazo</h4>
                        <input type="number" class="validate text-info form-control" name="semanas_embarazo" id="semanas_embarazo" formControlName="semanas_embarazo" min="0">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="input-field col-6 left-align">
                        <h4 class="text-info" for="lactancia">Lactancia</h4>
                        <select class="custom-select col-md-4" name='lactancia' id='lactancia' formControlName="lactancia">
                            <option default value="Si">Si</option>
                            <option value="No">No</option>         
                        </select>
                    </div>
                        
                    <div class="input-field col-6 left-align">
                        <h4 class="text-info" for="posibilidad_de_embarazo">¿Posibilidad de embarazo?</h4>
                        <select class="custom-select col-md-4" name='posibilidad_de_embarazo' id='posibilidad_de_embarazo' formControlName="posibilidad_de_embarazo">
                            <option default value="Si">Si</option>
                            <option value="No">No</option>         
                        </select>
                    </div>
                </div>

                <div class='row form-group'>
                    <div class='input-field col-12 left-align'>
                        <h4 class="text-info">¿Utiliza algún método anticonceptivo?</h4>
                    </div>
                    <div class="col-4 left-align" *ngFor="let contraM of contraceptiveMethods.controls; let i=index">
                        <input type="checkbox" [formControl]="contraM" (change)="pastContraceptivesMethodsChange(i, $event.target.checked)">
                        {{ this.pastContraceptiveMethods[i].metodo }}
                        <br>
                    </div>
                </div>

                <div class='row form-group'>
                    <div class='input-field col-12 left-align'>
                        <h4 class="text-info">Otros métodos:</h4>
                    </div>
                    <div class="col-4 left-align" *ngFor="let otroM of otherMethods.controls; let i=index">
                        <input type="checkbox" [formControl]="otroM" (change)="pastOtherMethodsChange(i, $event.target.checked)">
                        {{ this.pastOtherMethods[i].metodo }}
                        <br>
                    </div>
                </div>
    
                <!-- Botones -->
                <div class='row'>
                    <div class="col-6 float-left">
                        <button name='btn_cancel' id="btn_cancel" class='col-12 btn btn-secondary text-light' [routerLink]="['/paciente', patient._id]"> Cancelar </button>
                    </div>
                    <div class="col-6 float-right">
                        <button name='btn_login' id="btn_login" class='col-12 btn btn-info text-light' type="submit"> Registrar </button>
                    </div>
        
                </div>
            </form>
        
        </div>