<div class="container">
    <div class="row justify-content-center" style="padding-top:150px;">
        <div class="z-depth-1 grey lighten-3 row bg-light" style="padding: 32px 48px 32px 48px; border: 1px solid #EEE; min-width:300px; max-width:500px;">

            <form [formGroup]="changePasswordForm" class="col-12" method="post" (ngSubmit)="submit(changePasswordForm)">

                <h4 class="text-info text-center">Cambiar contraseña de la cuenta</h4>

                <div class='row'>
                    <div class='col-12'>
                    </div>
                </div>

                <div class='row form-group'>
                    <div class='input-field col-12 left-align'>
                        <input placeholder="Contraseña actual" class='validate text-info form-control' type='oldpassword' name='oldpassword' id='oldpassword'
                            formControlName="oldpassword" [ngClass]="{'is-invalid':changePasswordForm.get('oldpassword').hasError('required') && changePasswordForm.get('oldpassword').touched}"
                        />
                    </div>
                </div>

                <div class='row form-group'>
                    <div class='input-field col-12 left-align'>
                        <input placeholder="Contraseña nueva" class='validate text-info form-control' type='password' name='password1' id='password1'
                            formControlName="password1" [ngClass]="{'is-invalid':changePasswordForm.get('password1').hasError('required') && changePasswordForm.get('password1').touched}"
                        />
                    </div>
                </div>

                <div class='row form-group'>
                    <div class='input-field col-12 left-align'>
                        <input placeholder="Confirmar contraseña nueva" class='validate text-info form-control' type='password' name='password2'
                            id='password2' formControlName="password2" [ngClass]="{'is-invalid':changePasswordForm.get('password2').hasError('required') && changePasswordForm.get('password2').touched}"
                        />
                    </div>
                </div>

                <div class='row form-group'>
                    <button name='btn_login' id="btn_login" class='col-12 btn btn-info text-light' type="submit">
                        Cambiar contraseña
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>